:root {
    --mainColor: #22577A; 
    --secondaryColor: #38A3A5;
    --thirdColor: #57CC99;
    --fourthColor: #80ED99; 
}

html, body {
    height: 100%;
    margin: 0;
}



#navBar {
    border: 1px solid black;
    padding: 5px;
    background-color: var(--mainColor);
    text-align: center; 

}

#footer {
    border: 1px solid black;
    height: 50px;
    background-color: var(--mainColor);

}

.footerText {
    text-align:center; 

}

.appContainer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.mainContent {
      flex: 1; 
      padding: 5px;
      text-align: center;
      background-color: var(--secondaryColor);
}

#adviceBtn {
    color: black; 
    /* height: 30px;
    background-color: var(--secondaryColor);
    border: 4px solid var(--thirdColor); */
}

.adviceStyle {
    font-size: 2em;
    font-style:italic;
}
